
= form_for @state do |f|
  - if @state.errors.any?
    #error_explanation
      %h2= "#{pluralize(@state.errors.count, "error")} prohibited this state from being saved:"
      %ul
        - @state.errors.full_messages.each do |msg|
          %li= msg

  %div.row.form-group
    %div.col-md-4=f.label :name,:class=>'control-label'
    %div.col-md-8=f.text_field :name, :class=>'form-control',:placeholder =>"Type Title..."

  %div.row.form-group
    %div.col-md-4=f.label :code,:class=>'control-label'
    %div.col-md-8=f.text_field :code, :class=>'form-control',:placeholder =>"Type Code..."
      
  %div.row.top-buffer
    %div.col-md-12
      = f.submit :class=>'btn btn-default', :value=>'Submit'

            