- content_for :nav_path do
  %ol.breadcrumb
    %li
      =link_to "Home", root_path
    %li
      =link_to "All Elections", elections_path


%div.panel.panel-info
  %div.panel-heading
    ="Listing Elections"
  %div.panel-body
    %table.table
      %thead
        %tr
          %th #
          %th 
            = sortable "name", "Name"
          %th 
            = sortable  "election_date", "Election Date"
          %th 
            = sortable "election_start_time", "Start Time"

          %th 
            = sortable "election_end_time", "End Time"
          %th 
            = sortable "extended_time", "Extended Time"

          %th 
            = sortable "election", "Election Type"
          %th 
            = sortable "sort_order", "Order"
          %th 
            = sortable "active", "Active"
  
          %th 
            = sortable "created_at" ,"Created At"
          %th 
            = sortable "updated_at","Updated At"
          
          %th Quick Action
      
      %tbody      
        %tr
          = will_paginate @elections, renderer: BootstrapPagination::Rails

      - @elections.each_with_index do |election,index|
        %tr
          -if params[:page].to_i == 0
            %td= index+1
          -else
            %td= (params[:page].to_i-1)*Rails.application.config.records_per_page+index+1
          
          %td=link_to "#{election.name}", election


          %td= election.election_date.to_formatted_s(:long)
          %td= election.election_start_time.to_formatted_s(:long)
          %td= election.election_end_time.to_formatted_s(:long)
          %td= election.extended_time
          %td= election.election_type.name
          %td= election.sort_order
          %td= election.active
          
          
          %td= l election.created_at
          %td= l election.updated_at
          %td
            = icon_link_to election_path(election),{:icon => "glyphicon glyphicon-open-file"},{:title=>'Show'}
            |
            = icon_link_to  edit_election_path(election),{:icon => "glyphicon glyphicon-edit"},{:title=>'Edit'}
            |
            = icon_link_to election_path(election),{:icon => "glyphicon glyphicon-trash"},{:title=>'Delete',:method => :delete, :data => { :confirm => 'Are you sure?' }}

%br
= link_to 'New Election', new_election_path

